# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/
/agent
/python-version/configs/gmail-credentials.json
/python-version/configs/token.json
/python-version/configs/config.yaml
/python-version/configs/prompts.yaml
/go-version/configs/gmail-credentials.json
/go-version/configs/token.json
/go-version/configs/config.yaml
/go-version/configs/prompts.yaml

.idea/
.vscode/

